<div align ="center">
    今日共获得 <b>{{visit_people}}</b>次访问<br>
    致谢：本站服务器托管于<a href="https://adam.sethome.cc" target="_blank">齐鲁工业大学Adam战队</a>，网页原作者GitHub账号Annihilatexv,内网服务搭建人GitHub：Matt-wzy<br>视频聊天区可留言: <a href="https://www.bilibili.com/video/BV1sT411C73i/?share_source=copy_web&vd_source=1349826e7af1b515516bd815714d21a4" target="_blank">点我直达</a><br>如需联系&bug反馈&杂聊&技术支持，请联系 matt@matt-wang.me，我看到后将会以私人邮箱回复
</div>



<div align="center">
    <a href="https://github.com/Matt-wzy/qlu-cr">
        <img src="./static/img/github.png" alt="github.png" border="0" width="100" height="100" align="middle" />
    </a>
</div>
<br> <br> <br><br>
<script src="./static/JavaScript/main.js"></script>
