<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.5, user-scalable=yes">
    <link rel="shortcut icon" href="./static/img//QLUT.ico"/>
    <link rel="bookmark" href="./static/img//QLUT.ico"/>
    <title>{{title}}</title>
    <style>
        body {
            width: 380px;
            margin: 0 auto;
        }

    </style>
    <script src="./static/JavaScript/jquery.min.js"></script>
    {% include 'night.html' %}
</head>
