<head>
    <meta name="apple-mobile-web-app-title" content="QLU空教室查询">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-title" content="QLU空教室查询">
    <meta name="application-name" content="QLU空教室查询">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.5, user-scalable=yes">
    <link rel="shortcut icon" href="./static/img//QLUT.ico"/>
    <link rel="bookmark" href="./static/img//QLUT.ico"/>
    <link rel="apple-touch-icon" href="./static/img//QLUT.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="./static/img//QLUT.ico">
    <title>{{title}}</title>
    <style>
        body {
            width: 380px;
            margin: 0 auto;
        }

    </style>
    <script src="./static/JavaScript/jquery.min.js"></script>
    {% include 'night.html' %}
</head>
