<h3 style = "text-align:center" >📖 图书馆座位情况<div id = "timeupdate"></div></h3>
<div style="padding:3px; " >
    <h4>以下区域有座 ✅</h4>
    <table id = 'av_list' border="0" style="margin : auto;text-align: center;border-spacing: 15px 5px;" cellspacing="15">
        <tr>
            <th>区域</th>
            <th>剩余空座</th>
        </tr>
        <tr>
            <td>加载中</td>
            <td>加载中</td>
        </tr>
    </table>
</div>


<div style="padding:3px; ">
    <h4>以下区域无座 ❌</h4>

    <table id = 'un_list' border="0" style="margin : auto;text-align: center;border-spacing: 15px 5px;" cellspacing="15">
        <tr>
            <th>区域</th>
            <th>剩余空座</th>
        </tr>
        <tr>
            <td>加载中</td>
            <td>加载中</td>
        </tr>
    </table>
</div>


<meting-js 
	server="netease" 
	type="playlist" 
	id="8212603079"
	fixed="true" 
	autoplay="false"
	loop="all"
	order="list"
	preload="none"
	list-folded="ture"
	list-max-height="500px">
</meting-js>
