<h3 style = "text-align:center" >📖 图书馆座位情况</h3>
<div style="padding:3px; " >
    <h4>以下区域有座 ✅</h4>
    <table border="0" style="margin : auto;text-align: center;border-spacing: 15px 5px;" cellspacing="15">
        <tr>
            <th>区域</th>
            <th>剩余空座</th>
        </tr>
        {% for area in av_seat_list %}
        <tr>
            <td>{{area.area_name}}</td>
            <td>{{area.available_num}}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<div style="padding:3px; ">
    <h4>以下区域无座 ❌</h4>

    <table border="0" style="margin : auto;text-align: center;border-spacing: 15px 5px;" cellspacing="15">
        <tr>
            <th>区域</th>
            <th>剩余空座</th>
        </tr>
        {% for area in un_seat_list %}
        <tr>
            <td>{{area.area_name}}</td>
            <td>{{area.available_num}}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<meting-js 
	server="netease" 
	type="song" 
	id="4923847"
	fixed="true" 
	autoplay="false"
	loop="all"
	order="random"
	preload="none"
	list-folded="ture"
	list-max-height="500px"
	lrc-type="1">
</meting-js>
