

<style>
    body {
        background-color: #ffffff;
        color: #000000;
    }
    @media (prefers-color-scheme: dark)
    {
        body {
            background-color: #121212;
            color: #e0e0e0;
        }
        img{
            filter: invert(100%) brightness(.8);
        }
        a {
            color: #96f2d7;
            text-decoration: none;
            cursor: pointer;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        

        }
        a:hover, a:active {
            color: #38d9a9;
        }
        
    }

</style>