<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>暂时无法访问</title>

    <!-- Inline the page's stylesheet. -->
    <style>
      body {
        font-family: helvetica, arial, sans-serif;
        margin: 2em;
      }

      h1 {
        font-style: italic;
        color: #373fff;
      }

      p {
        margin-block: 1rem;
      }

      button {
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>oops，打不开了</h1>
    <div>本页面上次更新：{{time}}</div>
    <p id="message">默认信息。</p>


    <p>Click the button below to try reloading.</p>
    <button type="button">⤾ Reload</button>


    <script>
        var today = new Date();
        var disconnectDate = new Date("June 30, 2023");
        var graduateDate = new Date("January 4, 2024");
        var messageElement = document.getElementById("message");
        
        if(today.getTime() < disconnectDate.getTime()) {
          messageElement.innerHTML = "哎呦，意外断开连接啦，请检查你的网络连接，如果有任何异常反馈请加Q群647615502或者发送邮件至matt@matt-wang.me。";
        } else if(today.getTime() < graduateDate.getTime()) {
          messageElement.innerHTML = "oops，或许是因为本人毕业没人提供账号无法查询空教室了，请+Q群647615502或者发送邮件至matt@matt-wang.me帮助matt wang恢复查询工具。";
        } else {
          messageElement.innerHTML = "再见了好兄弟们，如需交流请+Q群647615502。";
        }
      </script>
            
    <!-- Inline the page's JavaScript file. -->
    <script>
      
      // Manual reload feature.
      document.querySelector("button").addEventListener("click", () => {
        window.location.reload();
      });

      // Listen to changes in the network state, reload when online.
      // This handles the case when the device is completely offline.
      window.addEventListener('online', () => {
        window.location.reload();
      });

      // Check if the server is responding and reload the page if it is.
      // This handles the case when the device is online, but the server
      // is offline or misbehaving.
      async function checkNetworkAndReload() {
        try {
          const response = await fetch('.');
          // Verify we get a valid response from the server
          if (response.status >= 200 && response.status < 500) {
            window.location.reload();
            return;
          }
        } catch {
          // Unable to connect to the server, ignore.
        }
        window.setTimeout(checkNetworkAndReload, 2500);
      }

      checkNetworkAndReload();
    </script>
  </body>
</html>