<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
<body>
    <div>
        今日访问人数： {{visit_people}} ; 今日内网访问人数： {{intranet_visit_people}}
    </div>
    <div>

    </div>
    <table border="1">
        <tr>
            <th>访问ip</th>
            <th>访问次数</th>
        </tr>
        {% for ip in ip_count %}
        <tr>
            <td>{{ip[0]}}</td>
            <td>{{ip[1]}}</td>

        </tr>
        {% endfor %}
    </table>
    
    <div>
        总计访问人数： {{all_visit_people}} ; 总计内网访问人数： {{all_intranet_visit_people}}
    </div>
    <div>

    </div>
    <table border="1">
        <tr>
            <th>访问ip</th>
            <th>访问次数</th>
        </tr>
        {% for ip in all_ip_count %}
        <tr>
            <td>{{ip[0]}}</td>
            <td>{{ip[1]}}</td>

        </tr>
        {% endfor %}
    </table>

<meting-js 
	server="netease" 
	type="song" 
	id="4923847"
	fixed="true" 
	autoplay="false"
	loop="all"
	order="random"
	preload="none"
	list-folded="ture"
	list-max-height="500px"
	lrc-type="1">
</meting-js>

</body>
</html>
