<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.5, user-scalable=yes">
    <link rel="shortcut icon" href="./static/img//QLUT.ico"/>
    <link rel="bookmark" href="./static/img//QLUT.ico"/>
    <title>空教室查询统计</title>
    <style>
    </style>
</head>
<body>
    <div>
        今日访问人数： {{visit_people}} ; 今日内网访问人数： {{intranet_visit_people}}
    </div>
    <div>

    </div>
    <table border="1">
        <tr>
            <th>访问ip</th>
            <th>访问次数</th>
        </tr>
        {% for ip in ip_count %}
        <tr>
            <td>{{ip[0]}}</td>
            <td>{{ip[1]}}</td>

        </tr>
        {% endfor %}
    </table>
    
    <div>
        总计访问人数： {{all_visit_people}} ; 总计内网访问人数： {{all_intranet_visit_people}}
    </div>
    <div>

    </div>
    <table border="1">
        <tr>
            <th>访问ip</th>
            <th>访问次数</th>
        </tr>
        {% for ip in all_ip_count %}
        <tr>
            <td>{{ip[0]}}</td>
            <td>{{ip[1]}}</td>

        </tr>
        {% endfor %}
    </table>

</body>
</html>
